body {
   background: linear-gradient(#4682b4, #87cefa);
   font-family: Arial, sans-serif;
   color: white;
   text-align: center;








}


h1 {
   color: rgb(255, 255, 255);
   font-size: 3em;
   margin-top: 20px;
   text-align: center










}


h2 {
   color: #f8f8ff;
   margin-top: 40px;










}


h3 {
   font-weight: normal;
   color: #f0f0f0;
   width: 70%;
   margin: auto;










}


.jet {
   border-radius: 40px;
   width: 70%;
   margin: 20px auto;
   display: block;








}


#karim {
   text-align: center;
   margin-left: 18%;








}


#marco {
   float: right;
   padding-right: 25%;






}


#stade {
   text-align: center;
   margin-top: 20px;






}


.stade-de-geneve-aerial {
   border-radius: 40px;
   width: 70%;








}


#history, #food {
   width: 70%;
   margin: auto;
   background: rgba(255,255,255,0);
   padding: 15px;
   border-radius: 15px;








}


#places {
   list-style-type: none;
   padding: 0;








}


#places li {
   margin: 10px 0;
   font-size: 1em;








}


iframe {
   border-radius: 20px;
   margin-top: 20px;






}


footer {
   margin-top: 40px;
   background-color: rgba(0, 0, 0, 0);
   padding: 15px;
   border-top: 1px solid white;








}
